body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1{
    font-size: 50px;
    
}

.blue{
    color: rgba(86, 86, 238, 0.808);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, purple);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;

}

.half-width img{
    width: 80%;
}

.with-border{
    border-left: 4px solid;
    border-radius: 5px;
    border-image: linear-gradient(blue, purple);
    border-image-slice: 1;
}

.illustrator-width img{
    width: 40%;
}
.illustrator-width{
    width: 80%;
}

.center{
    text-align: center;
}

#illustrator-1{
    background-color: rgba(230, 242, 250, 0.938);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 50px;
    padding-left: 50px;
}

#illustrator-2{
    background-color: rgb(255, 217, 217);
    border-radius: 20px;
    margin-right: 20px;
    padding-left: 50px;
}

#illustrator-3{
    background-color: rgb(255, 255, 214);
    border-radius: 20px;
    margin-right: 10px;
    padding-left: 50px;
}

.mission-statement-1{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
}

.mission-statement-2{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
}

.new-font{
    font-family: 'Vujahday Script', cursive;
}


h2{
    font-size: 50px;
}

.footer-font{
    font-family: 'Dancing Script', cursive;
}

h3{
    font-size: 30px;
    color: white;
}

footer{
    background-color: black;
    height: 100px;
    color: white;
}

.red{
    color: rgb(235, 97, 97);
}